<div class="d-flex flex-column" cdkScrollable>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 px-2 py-0">
      <app-component-header [title]="'!Ya casi términamos!'"
                            [message]="'Revisa la información y completa lo solicitado'">
      </app-component-header>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 p-2">
      <app-card-account></app-card-account>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 p-2">
      <app-list-pokemon></app-list-pokemon>
    </div>
  </div>
</div>
