.file-text-input {
    font-family: 'Poppins' !important;
    font-size: '12px';
    font-weight: '500';
    color: #2C85BC;
}

.file-input-icon {
    font-size: 20px !important;
    height: 20px !important;
    width: 20px !important;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}