.primary-picture-frame {
    width: 200px !important;
    height: 200px !important;
    background-color: white;
}

.secondary-picture-frame {
    width: 180px !important;
    height: 180px !important;
    background-color: #E7EFF5;
}