<div class="d-flex flex-column" cdkScrollable>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 px-2 py-0">
      <app-component-header [title]="title">
      </app-component-header>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12 p-2">
      <app-card-profile></app-card-profile>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-xs-12 p-2">
      <app-mis-pokemon></app-mis-pokemon>
    </div>
  </div>
</div>
