<div class="card rounded-6 w-70 m-auto bg-card-green px-4 py-5">
  <div class="row mx-0">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center py-4">
      <span class="font-family-poppins text-white fs-24">Imagen perfil</span>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 py-4">
      <app-picture-frame></app-picture-frame>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 py-4">
      <app-input-file [requiredFileType]="'image/*'" [messageEmptyInput]="'Adjunta una foto'"></app-input-file>
    </div>
  </div>
</div>
