.bg-card-green {
    background-color: #00693C;
}

.bg-blue-sky {
    background-color: blue-sky;
}

.bg-blue-pokemon {
    background-color: #01426A;
}

.bg-gray-light {
  background-color: #F2F2F2;
}
