<div class="d-flex flex-column" cdkScrollable>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 px-2 py-0">
      <app-component-header [title]="'!Hola! Configuremos tu perfil'"
                            [message]="'Queremos conocerte mejor'">
      </app-component-header>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 p-2">
      <app-upload-image></app-upload-image>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 p-2">
      <app-account-form></app-account-form>
    </div>
  </div>
</div>
