$dot-size: 0.5rem; // Tamaño de los puntos
$dot-duration: 1s; // Duración de la animación

@keyframes dots {
  0% {
    opacity: 0.2;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}

.loading {
  // Establece el estilo CSS para la superposición
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  z-index: 9999;

  // Agrega la imagen y el texto "Cargando..."
  img {
    width: 12rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: 700;
    color: #185A7D;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dot-container {
    display: flex;
  }

  .dot {
    width: $dot-size;
    height: $dot-size;
    border-radius: 50%;
    background-color: #185A7D;
    margin-right: 0.5rem;
    animation: dots $dot-duration ease-in-out infinite;
  }

  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }

  .dot:nth-child(3) {
    animation-delay: 0.4s;
  }
}
